
/* CONFIG INICIAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-theme: #a50036;
  --background-theme-secondary: #8b0836;
  --text-theme: #f4f4f5;
  --text-theme-secondary: #e4e4e7;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER / MENU SUPERIOR */
header {
  padding: 2rem 6rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-theme);
  color: var(--text-theme);
  user-select: none;
}

header nav {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

header nav a {
  color: var(--text-theme);
  font-weight: 600;
  outline-style: none;
}

header nav a:hover {
  color: var(--text-theme-secondary);
}

/* FOOTER / MENU INFERIOR */

footer {
  margin-top: auto;
  background-color: var(--background-theme);
  padding: 1rem;
  text-align: center;
  color: var(--text-theme);
  font-weight: 600;
}

ul {
  list-style-type: none;
}

/* CONTAINER / DIV QUE CONTÉM O CONTEÚDO */

.container {
  width: 90%;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 0.5rem auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  background-color: #fafafa;
}

.container h3 {
  font-size: 1.875rem;
  line-height: calc(2.25 / 1.875);
}

.container p, .container span {
  font-size: 1.25rem;
  line-height: calc(1.75 / 1.25);
}

.container a {
  color: var(--background-theme);
}

.container a:hover {
  color: var(--background-theme-secondary);
}

.container .formula {
  font-size: 1.5rem;
  line-height: calc(2 / 1.5);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--background-theme);
}